/* Button */
.btn-danger{
	font-size:16px;
	font-family:Arial;
	width:127px;
	height:52px;
	border-width:3px;
	color:#fff;
	border-color:rgba(206, 206, 206, 1);
	font-weight:bold;
	border-top-left-radius:42px;
	border-bottom-right-radius:42px;
	box-shadow:inset 0px -1px 0px -6px #fff;
	text-shadow:inset 8px -2px 7px rgba(79, 159, 154, 1);
	background:rgba(112, 101, 114, 1);
}
.btn-danger:hover {
	background: rgba(118, 98, 56, 1)}
.btn-danger:active {
	position:relative;
	top:1px;
}
.btn-danger-icon {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.btn-danger-text {
	padding: 10px 18px;
}
#change{
	padding: 10px 18px;
}

/* Input */
#amount{
	padding: 4px;
	font-size: 22px;
	border-width: 2px;
	border-color: #ba8b8b;
	background-color: #FFFFFF;
	color: #857474;
	border-style: solid;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
#amount{
	outline:none;
}

#tl{
	padding: 4px;
	font-size: 22px;
	border-width: 2px;
	border-color: #ba8b8b;
	background-color: #FFFFFF;
	color: #857474;
	border-style: solid;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
#tl{
	outline:none;
}

/* Title */
.title{
	-webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
	text-align:center;
	width: 650px;
	position: fixed;
	right: 615px;
	top: 170px;

	
}
@media only screen and (max-width: 1368px) {
	.title {
		position: fixed;
		right: 160px;
		top: 90px;
	}
  }
  
/* Container */
.container{
	width: 650px;
	-webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 12px -21px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 12px -21px 15px 5px rgba(0,0,0,0);
	background: #CE5937;
	background: -moz-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
	background: -webkit-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
	background: linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
	
}
body{
	padding: 10%;
	
}

/* Text */
#write{
	color: #FFFFFF;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

/*****/

